<section class="page">
	<article>
		<header><%= @page.title %></header>
		<section class="content">
			<%= @page.content %>
		</section>

		<footer>Created At: <%= @page.created_at %> | Updated At: <%= @page.created_at %></footer>
	</article>	
</section>