/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *x require_tree .
 *= require store
 */

 $footer_link_background: #d5d5d5;
 $footer_background_color: #202020;
 $footer_link_shadow: rgba(0,0,0,0.2);
 @mixin footer_links{
    box-shadow: 1px 1px 0px $footer_link_shadow, 2px 2px 0px $footer_link_shadow, 3px 3px 0px $footer_link_shadow, 4px 4px 0px $footer_link_shadow, 5px 5px 0px $footer_link_shadow, 6px 6px 0px $footer_link_shadow;
 	background-color: $footer_link_background;
	padding: 20px;
	height: 70px;
	width: 70px;
	border-radius: 70px;
 }
 * { 
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }

 body{ 
 	background-image: url('bg.png');
 	width: 70%;
 	margin: 0 auto;
 	font-family: "Arial Narrow", sans-serif;
 }

header.main {
	background: rgba(0,0,0,0.6);
	clear: both;
}

#logo > img {
	width: 80px;
	height: 80px;
	float: left;
}

nav.main {
	padding: 20px;
	ul {
	list-style-type: none; 
	padding-bottom: 10px;
	border-bottom: 7px double #FFF;
	margin-left: 70px;
	padding-left: 10px;
		li {
		display: inline; 
		padding: 30px 10px 10px 10px;
			a{
			color: #FFF;
			text-decoration: none;
			font-size: 25px;
			letter-spacing: 1px;
			background: none;
			}
			&:hover{
			background: rgba(0,0,0,0.2);
			}
		}
	}
}
section#footer_amplifier {
		background-image: url('footer_amplifier.png');
		background-size:100%;
		background-repeat: no-repeat;
		height: 64px;
}

footer {
	font-color: #fff;
	section#footer_container{
		background-color: $footer_background_color;
		padding: 0 20px 0 20px;
	}
	ul{
		list-style-type: none;
		background-image: url('footer_background.png');
		padding: 10px;
		margin: 0 auto;
		border-radius: 20px 20px 0 0;
		height: 150px;
		display: block;
		text-align:center;
		li{
			@include footer_links;
			display: inline-block;
			font-color: #fff;
			margin: 20px 5% 0px 5%;
			a{
				text-decoration: none;
				vertical-align: center;
			}
		}
	}
}

#content{
	overflow: auto;
}

