// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#products{
	width: 99%;
	margin: 0 auto;
	display: block;

}

section.product{
	background-color: rgba(0,0,0,0.7);
	float: left;
	margin: 10px;
	width: 22%;
	border-radius: 10px;
	padding: 10px;
	min-height: 320px;
	position: relative;
	header{
		a{
			text-decoration: none;
			color: #a1895e;
			font-size: 20px;
			text-shadow: 0px 0px 5px #000;
			margin-bottom: 10px;
			display: block;
		}
	}

	section.product_image{
		background: #FFF;
		border-radius: 10px;
		padding: 10px;
	}
	section.product_info{
		font-size: 20px;
		padding: 10px;
		span.label{
			color: #000;
		}
		span.value{
			color: #FFF;
		}
	}
	footer.product_buy{
		right: 10px;
		bottom: 20px;
		position: absolute;
		height: 30px;
		a{
			text-decoration: none;
			color: #FFF;
			float: right;
			padding: 10px;
			background-color: #4f0000;
			border-radius: 10px;
		}
	}
	img {
		width: 95%;
		display: block;
		margin: 0 auto;
		border-radius: 10px;
		vertical-align: center;
		}

}

section.product_show{
	overflow: auto;
	background-color: rgba(0,0,0,0.6);
	margin: 20px;
	padding: 10px;
	img{
		float: left;
		width: 30%;
	}

	section.product_info{
		float: left;
		header{
		color: #fff;
		display: block;
		position: relative;
		width: 100%;
		font-size: 30px;
		letter-spacing: 3px;
		word-spacing: 5px;
		padding: 10px;
		width: auto;
		text-transform: uppercase;	
		}
		footer{
			bottom: 20px;
				a{
					text-decoration: none;
					color: #FFF;
					float: right;
					padding: 10px;
					background-color: #4f0000;
					border-radius: 10px;
				}
		}	
	}

	section.info{
		word-wrap: break-word;
		padding: 10px;
		font-size: 25px;
		span.label{
			color: #e1b465;
		}
		span.value{
			color: #000;
		}
		

	}

}

/*CHECKOUT*/

header.shoppingcart{
	h1{
		background-color: #4F0000;
		margin-top: 10px;
		padding: 10px;
		color: #FFF;
	}
}

section#shoppingcart{
	background-color: rgba(0,0,0,0.5);
	overflow: auto;
	padding: 10px;

	section.items_in_cart{
		padding: 10px;
		overflow: auto;
		section.cart_item_image{
			float: left;
			display: inline-block;
			width: 20%;
			img{
				width: 100%;
			}

		}
		section.cart_item_information{
			padding: 10px;
			float: left;
			span{
				font-size: 20px;
				word-spacing: 3px;
				letter-spacing: 1px;
			}
			section.item_info{
				padding: 10px;
			}

			span.label{
				color: #4F0000;

				font-weight: bold;


			}
		}

	}
	section.items_in_cart:nth-child(even){
		background: rgba(255,255,255,0.5);
	}

	section.items_in_cart:nth-child(odd){
		background: rgba(70,70,70,0.5);
		span.value{
			color: #fff;
			word-spacing: 3px;
			letter-spacing: 2px;
		}
	}


	section.shopping_cart_summary{
		section.summary_info{
			padding: 10px;
			float: right;
			clear:both;

			span{
				font-size: 25px;
				font-weight: bold;
			}

			span.label{
				color: #4F0000;
			}
			span.value{
				color: #FFFFFF;
			}
		}

	}

	section.checkoutlinks{
		float: right;
		clear: both;
		nav{
			ul{
				li{
					padding: 10px;
					display: inline;
					a{
						font-size: 20px;
						text-decoration: none;
						color: #FFF;
						float: right;
						padding: 10px;
						margin: 10px;
						background-color: #4f0000;
						border-radius: 10px;
					}	
				}
			}
		}
	}

/*Checkout*/



/* Confirm order */

	section#confirm_summary{
		float: right;
		padding: 10px;

		section.summary_info{
			padding: 10px;
			float: right;
			clear:both;

			span{
				font-size: 25px;
			}

			span.label{
				color: #4F0000;
			}
			span.value{
				color: #FFFFFF;
			}
		}
	}

	section.confirm_link{
		float: right;
		clear: both;
		padding: 10px;

		a{
			font-size: 20px;
			text-decoration: none;
			color: #FFF;
			float: right;
			padding: 10px;
			margin: 10px;
			background-color: #4f0000;
			border-radius: 10px;
		}

	}



}





