<section class="product">
	<header><%= product.name %></header>
		<section class="product_image">
			<%= image_tag product.image_url, :width => '20%' if product.image_url.present? %>
		</section>
		<section class="product_info">
			<span class="label">Price</span>
			<span class="value"><%= product.price %></span>
		</section>
	<footer><%= link_to 'Buy Now', :action => 'add_to_cart', :id => product %></footer>
</section>