<section class="user_checkout_information">
	<%= span_label 'Name:' %>
	<%= span_value user.first_name+ " " +user.last_name %>
	<%= span_label 'Address: '%>
	<%= span_value user.address + " " + user.province.name  %>

</section>